@font-face {
    font-family: fuenteTitulos;
    src: url(futura-renner/FuturaRenner-Regular.otf);
}

@font-face {
   font-family: fuenteParrafos;
   src: url(futura-renner/FuturaRenner-Light.otf);
}
  
h1, h2 { 
    color: green; 
    font-family: fuenteTitulos;
}
p {
    color: #000;
    line-height: 1.5em;
    font-size: 20px;
    font-family: fuenteParrafos;
}
img{
    border: 2px solid #c86f5e;
}
.resaltar{
    font-style: italic;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:link{
    color: red;
}
a:visited{
    color: #c86f5e;
}
a:focus{
    border: 1px dotted #000000;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style-type: square;
}
ol{
    list-style-type: lower-roman;
}
