@font-face {
    font-family: fuenteTitulos;
    src: url(futura-renner/FuturaRenner-Regular.otf);
}
@font-face {
    font-family: fuenteParrafos;
    src: url(futura-renner/FuturaRenner-Light.otf);
}
.cuadro{
    border: 5px solid brown;
    padding: 0 2em;
    margin: 0 20%; /* A D Ab I */   
}
.borderradius {
    border: 2px solid #42352c;
    border-radius: 10px;

}
h1, h2 { 
    color: green; 
    font-family: fuenteTitulos;
    border: 0px solid blue;
    margin-bottom: .5em;
}

p {
    color: #000;
    line-height: 1.5em;
    font-family: fuenteParrafos;
    font-size: 20px;
    border: 0px dotted blue;
    padding: 0 2em 1em 1em; /* A D Ab I */
    margin: 0;
}
img{
    border: 2px solid #c86f5e;
}
.resaltar{
    font-style: italic;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:link{
    color: red;
}
a:visited{
    color: #c86f5e;
}
a:focus{
    border: 1px dotted #000000;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style-type: square;
}
ol{
    list-style-type: lower-roman;
}
